@import '../variables';

.categories {
  ul {
    display: flex;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
.dark-mode .categories li {
  background-color: #2f2f2f; /* Цвет фона для элементов в темной теме */
  color: #ffffff; /* Цвет текста в темной теме */
}

.dark-mode .categories li:hover {
  background-color: darken(#2f2f2f, 10%); /* Немного затемняем при наведении */
}

.dark-mode .categories li.active {
  background-color: #ffffff; /* Цвет активного элемента в темной теме */
  color: #282828; /* Цвет текста активного элемента в темной теме */
}
