.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}

@media (max-width: 700px) {
  .header {
    padding: 2.5vh 0; /* Новые стили для маленьких экранов */
    .container {
      flex-direction: column;
    }
    .header__logo {
      img {
        margin-bottom: 10px;
      }
      h1 {
        font-size: 4vw;
      }
      p {
        font-size: 2vw;
      }
    }
  }
}
.dark-mode .header {

  
  .header__logo h1 {
    color: #ffffff; /* Цвет текста для заголовка h1 в тёмной теме */
  }

  .header__logo p {
    color: #b6b6b6; /* Цвет текста для абзаца в тёмной теме */
  }
}