.swiper-container {
  width: 100%; /* Занимает 100% ширины родительского блока */
  height: 100%; /* Занимает 100% высоты родительского блока */
}

.swiper-slide {
  width: 100%; /* Занимает 100% ширины родительского блока */
  height: 100%; /* Занимает 100% высоты родительского блока */
}

/* Дополнительные стили для адаптивности можно добавить по необходимости */
